<mat-toolbar color="primary" >
    <button mat-icon-button aria-label="Button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Atreus</span>
    <button mat-flat-button color="primary">干点啥</button>
    <button mat-flat-button color="primary">时间都去哪儿了</button>
    <!-- <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
</mat-toolbar>